// indigo
$primary: #4d4bdf;
$primary-light: #a9b1e6;
$primary-dark: #24348f;

// teal
$accent: #10948C;
$accent-light: #97CCC7;
$accent-dark: #1c6964;

// blue-gray
$font: #546E7A;
$font-light: #90A4AE;
$font-dark: #263238;