################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Anul II/AF/Graph Utils/.vs/Graph Utils/v16/Browse.VC.opendb
