<div class="container">
    <div class="form-section">
        <h1 class="title">
            Welcome!
        </h1>

        <form [formGroup]="registerForm">
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput required placeholder="Username" formControlName="username" autocomplete="off" />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput required placeholder="E-Mail" formControlName="email" autocomplete="off" />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput required placeholder="Password" type="password" formControlName="password"
                    autocomplete="off" />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>VerifiedPassword</mat-label>
                <input matInput required placeholder="VerifiedPassword" type="password" formControlName="verifiedPassword" autocomplete="off" />
            </mat-form-field>
        </form>

        <button mat-raised-button class="register-button" (click)="register()">
            Sign Up
        </button>
    </div>
</div>